<nav>
   <a href="/">Index</a> |
   <a href="/login">login</a> |
   <a href="/secret">Secret</a> |
   <a href="/logout">Log out</a>
</nav>

<h1>Shhhhh it's a secret..!!</h1>

<img src="http://i.giphy.com/hEIuLmpW9DmGA.gif"/>
